header {
  height: 70px;
  width: 100%;
  background-color: #403b3b;
  color: forestgreen;
  font-weight: bold;
  box-shadow: 10px 5px 15px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}
.logo{
  padding-top: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 10px 5px 15px rgb(0, 0, 0);
  
}
#competences h4,
#atouts h4,
#hobby h4,
#contact h4 {
  background-color: #3f4238;
}
header nav ul {
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li a {
  text-decoration: none;
  color: #ffff;
  position: relative;
  transition: 0.4s ease;
  display: block;
  text-align: center;
  cursor: pointer;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 5;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: 0 0;
  text-transform: uppercase;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* all elements are goint to keep theirs proper size */
}
header nav ul li {
  margin: 0px 20px;
}
header nav {
  width: 70%;
}
.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
h1,
h4 {
  margin: 10px;
}

section {
  margin: 0px auto;
  width: 70%;
}

section p {
  text-align: justify;
}

.aboutme h1 {
  font-size: 38px;
  color: white;
  margin-top: 15px;
}
section h4 {
  font-size: 20px;
  color: #ffff;
  margin-left: 0;
  margin-bottom: 10px;
  box-shadow: 10px 5px 15px black;
  padding-left: 2px;
  padding-bottom: 5px;
}
section p {
  line-height: 1.8;
}

#contact a {
  text-decoration: none;
  color: #ffff;
  margin-left: 190px;
}

#contact {
  margin-bottom: 15px;
}
#contact h4 {
  margin-bottom: 15px;
}
.anetaimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 7px;
  border-bottom: grey 1px solid;
  box-shadow: 10px 5px 15px black;
}
.body {
  background-color: rgb(41, 37, 37);
}
.aboutme p,
#competences ul li,
#atouts ul li,
#hobby ul li {
  color: white;
}
@media screen and (max-width: 550px) {
  #contact a i {
    font-size: 15px !important;
  }
  header nav ul {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
  }
  header {
    height: 150px;
  }
}
@media screen and (min-width: 551px) and (max-width: 798px) {
  header nav {
    width: 100%;
  }
  #contact a i {
    font-size: 15px !important;
    display: flex;
    justify-content: center;
  }
}
